$white-opacity-5: rgba(255, 255, 255, 0.5);

.component-article-card {
  border: 1px solid #fff;
  border-radius: 1em;
  background: linear-gradient(hsl(213, 40%, 97%) calc(100% - 1.5em), hsl(213, 40%, 93%));
  box-shadow: 0 1em 1em #1f2d3d26;
  margin: 0 16px 4em;
  text-align: center;
  text-shadow: 0 1px #fff;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;

  .img {
    position: relative;
    display: block;
    margin-top: -0.625em;
    width: calc(100% - 0.75em);
    border-radius: 0.75em;
    box-shadow: 1px 0 $white-opacity-5, -1px 0 $white-opacity-5, 0 1px $white-opacity-5;
    padding-top: calc(89.45% - 0.67em);
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.25s;
    // background-image: url("https://dsm.panda-studio.cn:6089/uploads/2022/07/UNxL5Y0UoocDcOOYnY5z9Nvv.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      top: 0.75em;
      left: 0.4em;
      right: 0.4em;
      bottom: -0.75em;
      background-image: inherit;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 0.75em;
      opacity: 0.6;
      filter: blur(1em);
      transform-style: preserve-3d;
      transform: translateZ(-1px);
      transition: 0.25s;
    }

    .date {
      display: flex;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 0 0 0.75em 0.75em;
      height: 3em;
      justify-content: center;
      column-gap: 0.25em;
      font-size: 14px;
      align-items: center;
      text-decoration: none;
      color: #fff;
      text-shadow: 0 3px 3px rgb(0 0 0 / 30%);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: 0.25s;
    }
  }

  .article-title {
    font-size: 18px;
    padding: 0 0.5em;
    margin: 1em 0 0.5em;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    text-shadow: 0 1px #fff;
    transition: 0.25s;
    color: #475669;
  }

  .metas {
    transform-origin: left;
    transition: 0.25s;
    column-gap: 1.2em;
    font-size: 14px;
  }

  .tag {
    width: 100%;
    transform-origin: right;
    padding: 0 0.5em;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    margin-top: -1em;
    white-space: nowrap;
    transition: 0.25s;
    overflow: hidden;
    mask-image: linear-gradient(90deg, #000 calc(100% - 1em), transparent calc(100% - 0.2em));
    .el-tag {
      margin-right: 0.5em;
      cursor: pointer;
    }
  }

  .btn {
    min-width: 50%;
    box-shadow: 0 0.5em 1.2em rgba(51, 61, 120, 0.5);
    font-size: 14px;
    margin: 0.3em 0 1.5em;
    padding: 0.45em 1.5em;
    border-radius: 9em;
    transition: 0.25s;

    &:hover {
      min-width: 60%;
    }
  }
}

/* hover样式 */
.component-article-card:hover {
  transform: translateY(8px);
  box-shadow: 0 0.2em 0.4em #1f2d3d33;

  .img {
    transform: translateY(1em) translateZ(0);

    &::before {
      opacity: 0;
    }

    .date {
      opacity: 1;
    }
  }

  .article-title {
    transform: translateY(0.5em);
  }

  .metas {
    transform: translateY(0.8em) scale(0.8);
    opacity: 0;
  }

  .tag {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  .btn {
    transform: translateY(0.3em);
  }
}
