@import "./color.scss";
@import "./custom.scss";
@import "./main.scss";
@import "./layout.scss";
@import './el-popover.scss';
body {
  font-size: 14px;
  color: #303133;
}
p {
  margin: 0;
}
@font-face{
	font-family:hxb;
    src:url("@/fonts/hxb.ttf");
}
@font-face{
	font-family:cus;
    src:url("@/fonts/custom.ttf");
}
